@media (max-width: 575px) {


    @font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
* {
    font-family: 'GangwonEdu_OTFBoldA';
}

.question{
    display: none;
}

.result{
    display: none;
}
#container{
    font-family: 'GangwonEdu_OTFBoldA';
    /* min-height:100%;
    position:relative;
    padding-bottom:20%; */
    position: relative;
    padding-bottom:100px;
    min-height: 100vh;
}
#restitle{
    display:block;
    content: url("restitle_img.png");
    width : 310px;
    height: 35px;
    margin-top: 40px;
}
article {
    display: flex;
    flex-direction: column;
}

article.question{
  justify-content : center;
  align-items: center;
}
#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.share {
    margin: 0 auto;
}
.startTitle{
    margin:auto;
    width: 185px;
    height: 54px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 24px;
    line-height: 90px;
    /* or 375% */
    text-align: center;
    
    color: #000000;
    
    border: 2px solid #FFFFFF;
}


.progressBar{ /*진행도바 사진 서식*/
    width: 321px;
    height: 97.32px;
    margin: auto;
}
.startButton{/*테스트 시작하기 버튼 사진*/
    max-width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    margin:auto;
    border: 0;
    outline: 0;
}
#startbtn{
    width: 60%;
    height: auto;
    margin:auto;
    margin-bottom: 35%;
}
#titleImg1{/*상냥이 MBTI사진*/
    content: url("mtitle_img.png");
    width:50%; 
    height:auto;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 35%;
}

#titleImg2{/*나는 어떤 고양이일까 사진*/
    width: 35%;
    margin: auto;
    margin-bottom: 5%;
}
#title{
    font-size : 30px;
    width : 65%;
}
.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px;
}

.res-img {
  width : 150px;
  height : 150px;
  margin : 10px;
}

.startPage0{
    background-image: url("mstart_page0.jpg");
    max-width: 100%;
    height: auto;
    background-size: cover;
}
.startPage{
    background-image: url("mstart_page.jpg");
    max-width: 100%;
    height: auto;
    background-size: cover;
}

#A, #B{
    width : 80%;
    border-radius: 25px;
    opacity: 0.9;
    border: 3px solid black;
    font-size : 20px;
    font-family: 'GangwonEdu_OTFBoldA';
}
article {
    display: flex;
    flex-direction: column;
}

article.question{
  justify-content : center;
  align-items: center;
}
/*추가*/


#img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid #bcbcbc;
}

#explain{
    border: 2px dashed #bcbcbc;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-right: 10%;
}

h3{
    font-size: 20px;
}
#supproting{
    text-align: center;
    
}
#ad{
    /* width:100%;
    height:100px;
    position:absolute;
    bottom:0; */
    position: absolute;
    bottom: 0;
    width:100%;
    height:100px;
   
} 
}